body{

}

.sign-in {
border: 2px solid black;
border-radius: 5px;
background-color: white;
color: black;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
}
  
.sign-in {
border-color: #031CFF;
color: #031CFF;
}
  
.sign-in:hover {
border-color: #2196F3;
color: white;
}

.topnav{
float:right;
color:white;
text-align:center;
padding: 14px 16px;
text-decoration: none;
font-size:17px;
float:right;
}


  