body{
    background-color: black;
}

.sign-in{
background-color: white;
border-color:#031CFF;
color:#031CFF;
border-radius: 100px;
position: absolute;
float:right;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 16px;


text-align: center;
}

.topnav{
background-color: white;
color:#3D3D3D;
height:8%;
overflow: hidden;
margin:0;
}

.topnav a{
position:absolute;
float:right;

font-family: Campton;
font-size: 12px;
line-height: 14px;
text-align:center;
padding: 14px 16px;
}


  