body,html{
    font-size: 12;
    font: "Times New Roman";
    color:#505969;
    margin:left;
    padding:20px;
    background-image: url(https://images.pexels.com/photos/6331086/pexels-photo-6331086.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.topnav{ 
  background-color: #799bd5;
  overflow: hidden;
  height: 8%;
  accent-color: #A8BEE3;
  margin:0;
  position: fixed;
  top:0;
  width:100%
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
}

.topnav a:hover {
  background-color: #A8BEE3;
  color: E03FDD;
}

.portfolio{
  font-size: 15;  
  font:"Times New Roman";
  color:#505969;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

textarea{
  width:400px;
  height:400px;
}

.text-block{
    position: center;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: #505969;
    padding-left: 20px;
    padding-top: 20px;
}


